@use '../App.scss';

.parentLevel {
  fill: #7aa457;
  opacity: 0.4;
}
.rootLevel {
  fill: #9e6ebd;
  opacity: 0.4;
}
.childLevel {
  fill: #cb6751;
  opacity: 0.4;
}

.marks {
  circle {
    fill: red;
  }
}
