@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

:root {
  --background-color: #868374;
  --shadow-color: #4d4b49;
  --view-background-color: #edebe3;

  --people-color-highlight: rgb(135, 173, 123);
  --people-color: rgb(90, 151, 70);
  --people-color-shadow: rgb(51, 87, 39);
  --places-color: rgb(113, 93, 190);
  --places-color-shadow: rgb(70, 58, 119);
  --society-color: rgb(193, 73, 71);
  --society-color-shadow: rgb(136, 51, 49);
  --events-color: rgb(179, 128, 50);
}

body {
  font-family: 'Lato';
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  background-color: var(--background-color);
  font-size: 1.5em;
}

#header {
  margin-left: 6rem;
  font-weight: 900;
  font-size: 8rem;
}

.view-element {
  padding: 0.3rem;
  margin: 1rem 0.5rem;
  margin-bottom: 2rem;
  box-shadow: 0rem 0.1rem 0.3rem var(--shadow-color);
  background-color: white;
}

.App {
  text-align: center;
}

.view-container {
  margin-left: 1em;
  margin-right: 1em;
  display: flex;
  list-style-type: none;
  padding: 0;
  box-shadow: 0.5rem 0.5rem 0 var(--shadow-color);
}

.noSelection {
  min-height: 50vh;
  font-size: 3rem;
  font-weight: 700;
  color: var(--background-color);
  text-align: center;
}

.view {
  display: flex;
  flex: 0 1 5rem;
  // transition: all 0.8s ease;
  background-color: var(--view-color);

  .view-content {
    flex: 0 0 0;
    opacity: 0;
    pointer-events: none;
    padding: 0;
    background-color: var(--view-background-color);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    // transition: all 0.8s ease;
    .view-element {
      display: none;
    }
  }

  .view-title {
    flex: 0 0 5rem;
    background-color: var(--view-color);
    position: relative;
    // box-shadow: 0.3rem 0.3rem 0 var(--view-color-shadow);
    // z-index: 5;

    h2 {
      position: absolute;
      top: 1rem;
      left: 1.5rem;
      transform-origin: 0 0;
      transform: rotate(-90deg) translateX(-100%);
      letter-spacing: 2px;
      text-transform: uppercase;
      font-weight: 700;
      opacity: 1;
      color: var(--bs-body-color);
    }
  }

  &.expanded {
    flex: 10;
    width: 100%;
    .view-content {
      flex: 7;
      opacity: 1;
      padding: 1rem;
      pointer-events: all;
      .view-element {
        display: inherit;
      }
    }
  }
}

.people {
  --view-color: var(--people-color);
  --view-color-highlight: var(--people-color-highlight);
  --view-color-shadow: var(--people-color-shadow);
  border-color: var(--view-color);
  .placeholder {
    height: 60vh;
  }
}
.society {
  --view-color: var(--society-color);
  --view-color-shadow: var(--society-color-shadow);
  border-color: var(--view-color);
}
.places {
  --view-color: var(--places-color);
  --view-color-shadow: var(--places-color-shadow);
  border-color: var(--view-color);
}
.events {
  --view-color: var(--events-color);
  border-color: var(--view-color);
}

// Nothing to see here

.itemLink {
  cursor: pointer;
  text-decoration: underline;
  font-weight: 900;
}

.site-link {
  color: var(--places-color);
}

.hf-link {
  color: var(--people-color);
}

.entity-link {
  color: var(--society-color);
}

.dwarfviz-tooltip {
  tr {
    border-bottom: 1px solid #999;
  }
  .propName {
    font-weight: 900;
    text-align: left;
  }

  .value {
    font-weight: 400;
    text-align: right;
  }
}

h1 {
  font-weight: 900;
  font-size: 2.3rem;
  color: var(--shadow-color);
}
h2 {
  font-weight: 700;
  font-size: 1.7rem;
  color: var(--shadow-color);
}

//History
.history-button {
  color: var(--shadow-color);
  background-color: transparent;
  font-size: 2rem;
  font-weight: 900;
  &:disabled {
    opacity: 0.4;
  }
  &:hover:enabled {
    color: var(--background-color);
  }
  &:active:enabled {
    color: var(--shadow-color);
  }

  border: 0;
}

//details components

.detailsView {
  padding: 0.5rem;
  width: 100%;
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: flex;
    justify-content: space-between;
    margin-top: 0.3rem;
    border-bottom: 0.1rem solid rgb(82, 82, 82);
  }
  .govSiteList {
    display: block;
    text-align: center;
  }
  .ownSiteList {
    margin-top: 0;
    border-bottom: none;
  }
  .propName {
    font-weight: 700;
    text-align: left;
  }
  .value {
    font-weight: 400;
    text-align: right;
  }
}

.map-container {
  width: 100%;
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

.circlePacking {
  text {
    font-weight: 400;
    font-size: 0.7rem;
  }
  circle {
    stroke: var(--shadow-color);
    stroke-width: 0.1rem;
  }
}

.colorLegend {
  text {
    font-weight: 400;
    font-size: 0.8rem;
    text-decoration: none;
  }
  circle {
    stroke-width: 0.2rem;
    fill-opacity: 1;
    // &:hover {
    //   fill-opacity: 0.5;
    // }
  }
  // .active {
  //   text {
  //
  //   }
  //   circle {
  //
  //   }
  // }
}

:export {
  peopleColor: var(--people-color);
  placesColor: var(--places-color);
  societyColor: var(--society-color);
  eventsColor: var(--events-color);
}
