$placesColor: rgb(113, 93, 190);
$peopleColor: rgb(90, 151, 70);
$societyColor: rgb(193, 73, 71);
$eventsColor: rgb(179, 128, 50);

body {
  font-family: 'Lato';
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

.App {
  text-align: center;
}

#People {
  border-color: $peopleColor;
}

#Society {
  border-color: $societyColor;
}
#Places {
  border-color: $placesColor;
}
#Events {
  border-color: $eventsColor;
  min-height: 20vh;
}

.view {
  border: 1.5em solid;
  transition: all 0.8s ease;
  flex-grow: 1;
  overflow: hidden;
  height: 100vh;
  overflow-y: scroll;

  .view-content > * {
    display: none;
  }

  div {
    opacity: 0;
  }
}

.expanded {
  flex-grow: 10;
  .view-content > * {
    display: inherit;
  }

  div {
    opacity: 1;
  }
}

.itemLink {
  cursor: pointer;
  text-decoration: underline;
  font-weight: 800;
}

.sites-link {
  color: $placesColor;
}

.historicalFigures-link {
  color: $peopleColor;
}

.entities-link {
  color: $societyColor;
}

:export {
  peopleColor: $peopleColor;
  placesColor: $placesColor;
  societyColor: $societyColor;
  eventsColor: $eventsColor;
}
