$placesColor: rgb(113, 93, 190);
$peopleColor: rgb(90, 151, 70);
$societyColor: rgb(193, 73, 71);
$eventsColor: rgb(179, 128, 50);

body {
  font-family: 'Lato';
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

.App {
  text-align: center;
}

#People {
  border-color: $peopleColor;
}

#Society {
  border-color: $societyColor;
}
#Places {
  border-color: $placesColor;
}
#Events {
  border-color: $eventsColor;
  min-height: 20vh;
}

.view {
  border: 1.5em solid;
  transition: all 0.8s ease;
  flex-grow: 1;
  overflow: hidden;
  height: 100vh;
  overflow-y: scroll;

  .view-content > * {
    display: none;
    pointer-events: none;
  }

  div {
    opacity: 0;
  }
}

.expanded {
  flex-grow: 10;
  .view-content > * {
    display: inherit;
    pointer-events: all;
  }

  div {
    opacity: 1;
  }
}

.itemLink {
  cursor: pointer;
  text-decoration: underline;
  font-weight: 800;
}

.site-link {
  color: $placesColor;
}

.hf-link {
  color: $peopleColor;
}

.entity-link {
  color: $societyColor;
}

.dwarfviz-tooltip {
  tr {
    border-bottom: 1px solid #999;
  }
  .propName {
    font-weight: 800;
    text-align: left;
  }

  .value {
    font-weight: 400;
    text-align: right;
  }
}

//details components

.detailsView {
  border: 0.2rem solid black;
  padding: 0.5rem;
  width: 100%;
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: flex;
    justify-content: space-between;
    margin-top: 0.3rem;
    border-bottom: 0.1rem solid rgb(82, 82, 82);
  }
  .propName {
    font-weight: 800;
    text-align: left;
  }

  .value {
    font-weight: 400;
    text-align: right;
  }
}

:export {
  peopleColor: $peopleColor;
  placesColor: $placesColor;
  societyColor: $societyColor;
  eventsColor: $eventsColor;
}
